<div class="card-custom p-3">
  <div class="section-title">Gestión de torneos</div>
  <div class="section-sub">
    Administración de fixtures, estados, grupos y configuraciones.
  </div>

  <div class="row g-2 mt-2">
    <div class="col-12 col-md-6">
      <button type="button" class="quick-action" disabled>
        <i class="fa fa-plus me-2"></i> Crear torneo
      </button>
    </div>
    <div class="col-12 col-md-6">
      <button type="button" class="quick-action" disabled>
        <i class="fa fa-calendar me-2"></i> Programación
      </button>
    </div>
  </div>
</div>

