<!-- Inicio del menu -->

<nav class="navbar navbar-expand-lg navbar-light fixed-top" [ngClass]="{'scrolled': isScrolled}">
  <div class="container-fluid">
    <!-- icono o nombre -->

    <a class="navbar-brand" href="#">
      <div class="item-logo">
        <div>
          <img src="../../../../assets/images/HYT-IESA.png" width="80" height="70" />
        </div>

        <div style="margin-top: 10px">
          <h5 style="color: white; font-weight: bold; font-family: 'Lexend Deca';">HACHA PRO<br> LEAGUE</h5>
        </div>
      </div>
    </a>

    <!-- boton del menu -->

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#menu"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- elementos del menu colapsable -->

    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav me-auto">
        <ul class="group">
          <li class="item" routerLink="/home">INICIO</li>
          <li class="item" routerLink="/tournament">TORNEOS</li>
          <li class="item" routerLink="/team/create-team" *ngIf="!user?.teamPlay">CREAR EQUIPO</li>
          <li class="item" routerLink="/team/my-team" *ngIf="user?.teamPlay">MI EQUIPO</li>
          <li class="item" routerLink="/search-player">BUSCAR JUGADOR</li>
          <li class="item">FANTASY <span class="become">Proximamente</span></li>
        </ul>
      </ul>

      <hr class="d-md-none text-white-50" />

      <!-- enlaces redes sociales -->

      <ul class="navbar-nav flex-row flex-wrap text-light">
        <li class="nav-item col-6 col-md-auto p-3">
          <i class="bi bi-envelope-fill"></i>
          <small class="d-md-none ms-2">Twitter</small>
        </li>

        <li class="nav-item col-6 col-md-auto p-3">
          <i class="bi bi-chat"></i>
          <small class="d-md-none ms-2">GitHub</small>
        </li>

        <div class="item-profile d-flex">
          <div
            style="margin-top: 10px; margin-left: 30px; cursor: pointer"
            routerLink="/profile"
          >
            <h6 style="color: white">{{ user?.username }}</h6>
          </div>
          <div>
            <img
              class="img-profile"
              src="../../../assets/images/Nicp.png"
              width="50"
              height="50"
            />
          </div>
        </div>
      </ul>

      <!--boton Informacion -->

      <form class="d-flex">
        <button
          (click)="logout()"
          class="btn btn-outline-warning d-none d-md-inline-block"
        >
          Cerrar Sesion
        </button>
      </form>
    </div>
  </div>
</nav>


<!-- <nav class="navbar navbar-expand-lg navbar-light fixed-top" [ngClass]="{'scrolled': isScrolled}">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav> -->