@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.back {
  /* background: rgb(25,38,133);
    background: linear-gradient(90deg, rgba(25,38,133,1) 0%, rgba(29,101,253,1) 100%, rgba(0,0,0,1) 100%); */
  background: none;
}

.menu-bar {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.img-profile {
  border-radius: 50px;
}

.item-profile {
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.item-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.item {
  color: white;
  background-color: transparent;
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 20px;
  cursor: pointer;
}

.item.title {
  font-weight: 600;
}

.item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn-custom {
  margin-left: 10px;
  margin-right: 50px;
  padding: 8px;
  color: white;
  background-color: rgb(133, 31, 100);
  font-family: 'Roboto', sans-serif;
  border-radius: 17px;
  border-width: 2px;
}

.navbar {
  transition: background-color 0.5s ease;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.become {
  background-color: #41a9ff;
  color: black;
  border-radius: 8px;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 13px;
  font-weight: bold;
}
