<div class="container py-5">
  <div class="row justify-content-center align-items-center min-vh-80">
    <div class="col-lg-6 col-md-8">
      <div class="card shadow">
        <div class="card-body">
          <div class="text-center mb-4">
            <img
              src="../../../assets/images/seaneternos.png"
              alt="Logo"
              class="img-fluid"
              style="max-width: 120px"
            />
            <h3 class="mt-3 mb-2">Sean Eternos</h3>
            <h6 class="text-muted">Por favor, ingrese con su cuenta</h6>
          </div>
          <form [formGroup]="form">
            <div class="mb-3">
              <label for="email" class="form-label text-muted">Email</label>
              <input
                formControlName="email"
                type="text"
                id="email"
                name="email"
                class="form-control"
              />
            </div>
            <div class="mb-4">
              <label for="psw" class="form-label text-muted">Password</label>
              <input
                formControlName="password"
                type="password"
                id="psw"
                name="psw"
                class="form-control"
              />
            </div>
            <div class="d-grid mb-3">
              <button type="button" class="btn btn-primary" (click)="onLogin()">
                Iniciar Sesión
              </button>
            </div>
          </form>
          <div class="text-center mb-2">
            <a href="#"
              ><small class="text-muted"
                >¿Olvidaste tu usuario o contraseña?</small
              ></a
            >
          </div>
          <div class="text-center mt-4">
            <span class="text-muted">¿No tienes una cuenta aún?</span>
            <button type="button" class="btn btn-outline-secondary ms-2">
              Crear cuenta
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
