<div class="container row" style="margin-top: 200px; margin-left: 15%;">
	<div class="card-custom row">
		<form [formGroup]="formLoginUser" class="flex-custom col" #login="ngForm" (ngSubmit)="onSubmit()">
			<span style="color: black; margin-bottom: 10%;">
				IVG LATAM
			</span>

			<div>
				<div>
                    <input 
                    type="email" 
                    formControlName="username"
                    placeholder="Enter email"
                >					
                <span class="focus-input100"></span>
				</div>
			</div>
			<br>
			<div>
				<div>
                    <input 
                    type="password" 
                    formControlName="password"
                    placeholder="Enter Password"
                >					
                <span class="focus-input100"></span>
				</div>
			</div>

			<div class="margin-custom">
				<button class="btn btn-info" type="submit">
					Login
				</button>
			</div>

			<div class="margin-custom">
				<div class="text-center w-full p-t-25 p-b-230">
					<a href="#" class="txt1">
						Olvidaste tu usuario o contraseña?
					</a>
				</div>
	
				<div class="text-center w-full">
					<a class="txt1" href="#">
						Crear nueva cuenta
						<i class="fa fa-long-arrow-right"></i>						
					</a>
				</div>
			</div>

		</form>
	</div>

	<div class="card-custom-right col">

	</div>
</div>