.input-align{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-card-right{
    background-image: url('../../../assets/images/1500x500.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Login Card */
.login-card {
    margin-top: 10%;
    padding: 4rem;
    border-radius: 10px;
    position: relative;
}


/* Responsive */
@media (max-width: 768px) {

    body {
        padding: 2rem 0;
    }

    .login-card {
        width: 280px;
        padding: 2rem;
    }

}

.card-custom {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;
    height: 500px;
    padding-left: 0px;
    padding-right: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #ffffff;
    margin-top: 8%;
    margin-left: 10%;
}

/* .video-custom{
    width: 100%;
    background-image: url(../../assets/hacha.mp4);
} */

.card-custom-right{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;
    height: 500px;
    padding-left: 0px;
    padding-right: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #2278e2;
    background-image: url('../../../assets/images/1500x500.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 8%;
}

.flex-custom{
    margin-top: 5%;
    margin-left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.margin-custom{
    margin-top: 8%;
}
