.card-custom {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    color: white;
    background-color: rgb(133,31,100);
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 2.25rem;
}

.list-card{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.match{
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: center;
    color: white;
}

.match-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;
}
