<div class="list-card">
    <div class="card-custom">

        <div class="match-header">
            <div class="">
                <div>
                    <h6>Fecha 10</h6>
                </div>
            </div>
            <h6>-</h6>
            <div class="">
                <div>
                    <h6>23 de octubre 2023</h6>
                </div>
            </div>
        </div>


        <div class="match">
            <div>
                <img src="../../../../assets/images/GELP.png" width="80" height="80">
            </div>
    
            <div>
                <h6>Gimnasia eSports</h6>
            </div>
    
            <div>
                <h5>VS</h5>
            </div>
    
            <div>
                <h6>Hacha y tiza eSports</h6>
            </div>
    
            <div>
                <img src="../../../../assets/images/HYT-IESA.png" width="80" height="80">
            </div>
        </div>

    </div>

    <div class="card-custom">

        <div class="match-header">
            <div class="">
                <div>
                    <h6>Fecha 10</h6>
                </div>
            </div>
            <h6>-</h6>
            <div class="">
                <div>
                    <h6>23 de octubre 2023</h6>
                </div>
            </div>
        </div>


        <div class="match">
            <div>
                <img src="../../../../assets/images/GELP.png" width="80" height="80">
            </div>
    
            <div>
                <h6>Gimnasia eSports</h6>
            </div>
    
            <div>
                <h5>VS</h5>
            </div>
    
            <div>
                <h6>Hacha y tiza eSports</h6>
            </div>
    
            <div>
                <img src="../../../../assets/images/HYT-IESA.png" width="80" height="80">
            </div>
        </div>

    </div>

    <div class="text-center">
        <button class="btn btn-primary">
            Ver mas partidos
        </button>
    </div>
</div>