<div>
    <div>
        <img [src]="myUser.image" width="50" height="50">
    </div>

    <div>
        <label>Nombre</label>
        <h6>{{myUser.displayName}}</h6>
    </div>

    <div>
        <label>Usuario</label>
        <h6>{{myUser.userName}}</h6>
    </div>
</div>





<div>
    <form>
        <div>
            <input class="form-control">
        </div>
    
        <div>
            <input class="form-control">
        </div>
    
        <div>
            <input class="form-control">
        </div>
    </form>
</div>