<!-- <nav class="menu-bar">

    <div class="item-logo">
        <div>
            <img src="../../../assets/images/logo 3.png" width="200" height="130">
        </div>
    
        <div>
            <h4 style="color: white;">IVG LATAM</h4>
        </div>
    </div>


    <ul class="group">
        <li class="item">INICIO</li>
        <li class="item">COMPETENCIAS</li>
        <li *ngIf="!teamExiste" class="item" routerLink="/team/create-team">CREAR EQUIPO</li>
        <li *ngIf="teamExiste" class="item" routerLink="/team/my-team">MI EQUIPO</li>
        <li class="item">CHAT</li>
        <li class="item">MERCADO</li>
        <li class="item">JUGADORES</li>
    </ul>

    <div>
        <img src="../../../assets/images/logo 3.png" width="280" height="180">
    </div>
    <div class="item-profile">
        <div>
            <h6 style="color: white;">NicoPerez22</h6>
        </div>
        <div>
            <img class="img-profile" src="../../../assets/images/Nicp.png" width="50" height="50">
        </div>

        <button (click)="logout()" class="btn-custom">
            Cerrar Sesion
        </button>
    </div>


</nav> -->


    <!-- Inicio del menu -->
    
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
        <!-- icono o nombre -->

        <a class="navbar-brand" href="#">
            <div class="item-logo">
                <div>
                    <img src="../../../assets/images/logo 3.png" width="70" height="80">
                </div>
            
                <div style="margin-top: 10px;">
                    <h5 style="color: white;">IVG LATAM</h5>
                </div>
            </div>
        </a>
            
        <!-- boton del menu -->

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

          <!-- elementos del menu colapsable -->

        <div class="collapse navbar-collapse" id="menu">
          <ul class="navbar-nav me-auto">
            <ul class="group">
                <li class="item" routerLink="/home">Inicio</li>
                <li class="item" routerLink="/team/create-team">Competencias</li>
                <li *ngIf="!teamExiste" class="item" routerLink="/team/create-team">Crear equipo</li>
                <li *ngIf="teamExiste" class="item" routerLink="/team/my-team">Mi equipo</li>
                <li class="item" routerLink="/search-player">Buscar jugador</li>
            </ul>
          </ul>

          <hr class="d-md-none text-white-50">

           <!-- enlaces redes sociales -->

          <ul class="navbar-nav  flex-row flex-wrap text-light">

           <li class="nav-item col-6 col-md-auto p-3">
                <i class="bi bi-envelope-fill"></i>
                <small class="d-md-none ms-2">Twitter</small>  
            </li>

            <li class="nav-item col-6 col-md-auto p-3">
                <i class="bi bi-chat"></i>
              <small class="d-md-none ms-2">GitHub</small> 
            </li>

            <div class="item-profile d-flex">
                <div style="margin-top: 10px; margin-left: 30px; cursor: pointer;" routerLink="/profile">
                    <h6 style="color: white;">{{myUser.userName}}</h6>
                </div>
                <div>
                    <img class="img-profile" src="../../../assets/images/Nicp.png" width="50" height="50">
                </div>
            </div>


          </ul>
          
         <!--boton Informacion -->

          <form class="d-flex">
            <button (click)="logout()" class="btn btn-outline-warning d-none d-md-inline-block ">
                Cerrar Sesion
            </button>
          </form>
          
          
        </div>
     
        </div>  
      </nav>