<div class="container">
  <div class="card" style="margin-top: 15%">
    <div class="card-header">
      <div>
        <h2 class="text-center">CREAR TORNEO</h2>
      </div>
    </div>

    <div class="card-content" style="padding: 5%">
      <form nz-form nzLayout="vertical" [formGroup]="torneoForm">
        <div class="row">
          <div class="col-md-3">
            <nz-form-item>
              <nz-form-label nzFor="name">Nombre del torneo</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="name" type="email" id="email" />
              </nz-form-control>
            </nz-form-item>
          </div>

          <!-- <div class="col-md-3">
            <nz-form-item>
              <nz-form-label nzFor="email">Modalidad</nz-form-label>
              <nz-form-control>
                <nz-select ngModel="lucy">
                  <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                  <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                  <nz-option
                    nzValue="disabled"
                    nzLabel="Disabled"
                    nzDisabled
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="col-md-3">
            <nz-form-item>
              <nz-form-label nzFor="email">Formato</nz-form-label>
              <nz-form-control>
                <nz-select ngModel="lucy">
                  <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                  <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                  <nz-option
                    nzValue="disabled"
                    nzLabel="Disabled"
                    nzDisabled
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div> -->

          <div class="col-md-3">
            <nz-form-item>
              <nz-form-label nzFor="teams">Equipos</nz-form-label>
              <nz-form-control>
                <nz-select formControlName="teams" (ngModelChange)="onSelectTeam($event)">
                  <nz-option
                    *ngFor="let item of teams"
                    [nzValue]="item.id"   
                    [nzLabel]="item.name"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-2 mt-5" *ngFor="let item of teamsSelected">
            <div
              class="card-teams"
              style="display: flex; flex-direction: column; align-items: center"
            >
              <img
                src="../../../assets/images/HYT-IESA.png"
                width="60"
                height="60"
                alt=""
              />
              <span><b>{{ item.name }}</b></span>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="card-footer">
      <div style="display: flex; justify-content: center; gap: 20px">
        <div>
          <button class="btn btn-info">Volver Atras</button>
        </div>

        <div>
          <button class="btn btn-success" (click)="onSubmitData()">
            Crear Torneo
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
