<div class="tournament-container">
  <h2>{{ tournament?.name }}</h2>
  <p>{{ tournament?.format?.description }}</p>
  <ul class="match-list">
    <li
      class="match-item d-flex justify-content-between align-items-center"
      *ngFor="
        let match of tournament?.rounds
          | paginate : { itemsPerPage: 4, currentPage: p }
      "
    >
      <div class="team">
        <img
          [src]="
            match?.homeLogo?.secureUrl
              ? match?.homeLogo?.secureUrl
              : '../../../assets/images/player-default.png'
          "
          alt="Logo"
        /><span>{{ match.home }}</span>
      </div>

      <!-- <div class="score">0</div> -->
      <!-- <div class="separator">VS</div> -->
      <!-- <div class="score">0</div> -->

      <div class="team">
        <span>{{ match.away }}</span
        ><img
          [src]="
            match?.awayLogo?.secureUrl
              ? match?.awayLogo?.secureUrl
              : '../../../assets/images/player-default.png'
          "
          alt="Logo"
        />
      </div>
    </li>

    <div class="mt-5">
      <pagination-controls
        (pageChange)="p = $event"
        previousLabel="Anterior"
        nextLabel="Siguiente"
      ></pagination-controls>
    </div>
  </ul>
</div>
