h6 {
  color: white;
}

.btn-edit-profile {
  margin-top: 10%;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.header-bg {
  background: url('../../../assets/images/fondo1.png') no-repeat 50% 20% / cover;
  min-height: 180px;
  width: 100%;
}

.state-confirmation {
  background-color: rgb(34, 173, 46);
  padding: 2px;
  margin-right: 20%;
  margin-left: 20%;
  color: black;
}

.state-red {
  background-color: rgb(182, 47, 6);
  padding: 2px;
  margin-right: 20%;
  margin-left: 20%;
  color: black;
}

.overball {
  background-color: rgb(34, 173, 46);
  border-radius: 3px;
  color: black;
  padding-left: 4px;
  padding-right: 4px;
}

.gk {
  color: #c92a2a !important ;
}

.defence {
  color: #e67700;
}

.medio {
  color: #5c940d;
}

.attack {
  color: #1c7ed6;
}
