<div class="header-bg" style="min-height: 265px"></div>
<div class="container py-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 text-center position-relative mb-4">
      <div
        class="position-absolute top-0 start-50 translate-middle"
        style="z-index: 1"
      >
        <img
          [src]="myTeam?.logo?.secureUrl"
          style="width: 100px; height: 100px; object-fit: contain"
        />
      </div>
      <div style="margin-top: 60px">
        <h2 class="text-white fw-bold">{{ myTeam?.name }}</h2>
        <p class="text-secondary mb-1"></p>
      </div>
      <div class="mt-1">
        <ul
          class="d-flex justify-content-center gap-2 p-0 mb-3"
          style="list-style: none"
        >
          <li><h6>Manager:</h6></li>
          <li>
            <h6>{{ myTeam?.owner?.name }} {{ myTeam?.owner?.lastName }}</h6>
          </li>
        </ul>
        <div
          class="d-flex gap-3 justify-content-center"
          *ngIf="user?.idRol == 1"
        >
          <button class="btn btn-success" (click)="openModalSearchPlayers()">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            Transferencia
          </button>

          <button class="btn btn-warning" (click)="openModalAssignManager()">
            <i class="fa fa-user" aria-hidden="true"></i>
            Asignar Manager
          </button>

          <button class="btn btn-danger" (click)="openModalSearchPlayers()">
            <i class="fa fa-trash" aria-hidden="true"></i>
            Eliminar jugadores
          </button>
        </div>
      </div>
    </div>

    <!-- <div class="col-12">
      <hr class="border-light" />
    </div> -->

    <!-- Tabs Bootstrap -->
    <ul
      class="nav nav-tabs mb-4 border-0 gaming-tabs"
      id="teamTabs"
      role="tablist"
    >
      <li class="nav-item flex-fill text-center" role="presentation">
        <a
          class="nav-link gaming-tab-btn active"
          id="jugadores-tab"
          data-bs-toggle="tab"
          href="#jugadores"
          role="tab"
          aria-controls="jugadores"
          aria-selected="true"
        >
          <i class="fa fa-users me-2"></i>Jugadores
        </a>
      </li>
      <li class="nav-item flex-fill text-center" role="presentation">
        <a
          class="nav-link gaming-tab-btn"
          id="estadisticas-tab"
          data-bs-toggle="tab"
          href="#estadisticas"
          role="tab"
          aria-controls="estadisticas"
          aria-selected="false"
        >
          <i class="fa fa-calendar me-2"></i>Proximas Fechas
        </a>
      </li>
    </ul>

    <div class="tab-content">
      <div
        class="tab-pane fade show active"
        id="jugadores"
        role="tabpanel"
        aria-labelledby="jugadores-tab"
      >
        <div class="col-12">
          <div class="row g-3 justify-content-center mb-5">
            <div
              class="col-6 col-sm-4 col-md-2 col-lg-2 text-center mb-2"
              *ngFor="let player of playersTeamsList"
            >
              <!-- Contenedor relativo -->
              <div class="player-card position-relative p-2">
                <!-- Ícono menú superpuesto -->
                <ng-container
                  *ngIf="!player.loading && user.id === myTeam?.owner?.id"
                >
                  <i
                    class="fa fa-exchange icon position-absolute"
                    (click)="onChangePlayer(player)"
                    style="
                      top: 8px;
                      right: 47px;
                      font-size: 18px;
                      cursor: pointer;
                      color: #ccc;
                    "
                  >
                  </i>
                </ng-container>

                <ng-container *ngIf="player.loading">
                  <div>
                    <div class="spinner"></div>
                  </div>
                </ng-container>

                <!-- Imagen jugador -->
                <img
                  [src]="
                    player?.photo
                      ? player.photo.secureUrl
                      : '../../../assets/images/player-default.png'
                  "
                  class="mb-2"
                  width="60"
                  height="60"
                  style="object-fit: cover; border-radius: 6px"
                />

                <!-- Estado -->
                <div
                  [ngClass]="
                    player.isHabilitado ? 'state-confirmation' : 'state-red'
                  "
                ></div>

                <!-- Nombre -->
                <div>
                  <h6 class="mb-0">
                    {{ player?.name }} {{ player?.lastName }}
                  </h6>
                </div>

                <!-- Posición y valoración -->
                <div>
                  <h6 class="mt-1">
                    <span
                      [ngClass]="{
                        gk: player?.position == 'POR',
                        defence:
                          player?.position == 'LD' ||
                          player?.position == 'DFC' ||
                          player?.position == 'LI',
                        medio:
                          player?.position == 'MCO' ||
                          player?.position == 'MCD' ||
                          player?.position == 'MC' ||
                          player?.position == 'MI' ||
                          player?.position == 'MD',
                        attack:
                          player?.position == 'DC' ||
                          player?.position == 'ED' ||
                          player?.position == 'EI'
                      }"
                    >
                      {{ player?.position }}
                    </span>
                    -
                    <span
                      class="overball"
                      [ngClass]="{
                        'valoration-yellow': player?.valoration < 70,
                        'valoration-green-clarito':
                          player?.valoration >= 70 && player?.valoration < 85,
                        'valoration-green-dark': player?.valoration >= 85
                      }"
                    >
                      {{ player?.valoration }}
                    </span>
                  </h6>
                </div>

                <div *ngIf="player?.isTransfer">
                  <h6>En Transferencias</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="tab-pane fade"
        id="estadisticas"
        role="tabpanel"
        aria-labelledby="estadisticas-tab"
      >
        <div class="text-center py-5">
          <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-8 mt-4 mt-md-4">
              <ul class="match-list">
                <li
                  class="match-item d-flex justify-content-between align-items-center"
                  *ngFor="
                    let match of myTeam?.rounds
                      | paginate : { itemsPerPage: 6, currentPage: p }
                  "
                >
                  <div class="team">
                    <img
                      [src]="
                        match?.homeLogo?.secureUrl
                          ? match?.homeLogo?.secureUrl
                          : '../../../assets/images/player-default.png'
                      "
                      alt="Logo"
                    /><span>{{ match.home }}</span>
                  </div>

                  <div>VS</div>

                  <div class="team">
                    <span>{{ match.away }}</span
                    ><img
                      [src]="
                        match?.awayLogo?.secureUrl
                          ? match?.awayLogo?.secureUrl
                          : '../../../assets/images/player-default.png'
                      "
                      alt="Logo"
                    />
                  </div>
                </li>

                <div class="mt-5">
                  <pagination-controls
                    (pageChange)="p = $event"
                    previousLabel="Anterior"
                    nextLabel="Siguiente"
                  ></pagination-controls>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
