<div class="text-center">
    <button class="btn btn-warning" (click)="sendPlayer(content)">
        Agregar jugador
    </button>
</div>



<div class="row">
    <div class="card-custom" *ngFor="let player of myTeam.players">
        <div class="content-card">
            <div>
                <img class="img-profile" src="../../../assets/images/Nicp.png" width="100" height="100">
            </div>
    
            <div class="text-center" style="margin-top:10%;">
                <h5 style=" color: white;">{{player.userName}}</h5>
                <h6 style=" color: white;">MCO</h6>
            </div>

            <div class="text-center" style="margin-top:5%;">
                <p>Argentina</p>
                <img style="width:100%;" width="35" height="35" src="../../../../assets/images/descarga.png">
            </div>
        </div>
        <hr>

        <div class="text-center" style="margin-bottom:10px ;">
            <button class="btn btn-primary"><i class="fa fa-trash"></i></button>
        </div>
    </div>
</div>



<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Lista de jugadores</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
        <div class="search-bar">
            <input 
                class="search-bar-style" 
                placeholder="Buscar jugador"
                #searchPlayer
                (keyup)="searchPlayerKeyUp(searchPlayer.value)"
                (keyup.backspace)="reset(searchPlayer.value)"
            >
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                  <th>PSN ID</th>
                  <th>Nombre</th>
                  <th>Equipo</th>
                  <th>Nacionalidad</th>
                  <th>Agregar Jugador</th>
                </tr>
            </thead>
            <tbody *ngFor="let player of resultPlayer">
                <tr>
                  <th><img class="img-profile" src="../../../assets/images/Nicp.png" width="50" height="50"> {{player.userName}}</th>
                  <td>{{player.displayName}}</td>
                  <td>{{player.team}}</td>
                  <td>{{player.nacionalidad}}</td>
                  <td><button class="btn btn-success" (click)="addPlayer(player)"><i class="bi bi-plus-circle"></i></button></td>
                </tr>
            </tbody>
        </table>
		<!-- <ul class="items-ul" *ngFor="let player of playersList">
            <h6>{{player.userName}}</h6>
            <h6>{{player.displayName}}</h6>
            <h6>{{player.team}}</h6>
            <h6>{{player.nacionalidad}}</h6>
            <h6>
                <button class="btn btn-success" (click)="addPlayer(player)">
                    Agregar jugador
                </button>
            </h6>
        </ul> -->
	</div>
	<div class="modal-footer-custom">
        <div>
            <h6>Debe confirmar los cambios para que los jugadores ingresen al equipo</h6>
        </div>
        <div>
            <button type="button" class="btn btn-info" (click)="confirmPlayers()">Confirmar cambios</button>
        </div>
	</div>
</ng-template>