header { /* quitá márgenes inline */
  margin-bottom: 0 !important;
}

.content { /* ya le metemos paddingTop dinámico desde TS */
  flex: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}