<div >
  <div>
      <div class="header__wrapper">
          <header></header>
          <div class="cols__container">
            <div class="left__col">
              <div class="img__container">
                <img *ngIf="!myUser.image" src="../../assets/images/profile.jpg" />
                <img *ngIf="myUser.image" [src]="myUser.image" />
                <span></span>
                
              </div>
              
              <h2 style="color: white">{{myUser.username}}</h2>
              <p>{{myUser.dorsal}}</p>
    
              <div class="content">
                <ul>
                  <li><i class="fa fa-twitter" style="color:white ;"></i></li>
                  <i class="fa fa-youtube" style="color:white ;"></i>
                  <i class="fa fa-facebook" style="color:white ;"></i>
                  <i class="fa fa-instagram" style="color:white ;"></i>
                </ul>

                <div class="btn-edit-profile">
                  <button class="btn btn-success">
                    <i class="fa fa-pencil"></i>
                    Editar perfil
                  </button>
                </div>

              </div>

            </div>

            <div role="tabpanel">
              <div class="right__col" >
                <div class="card" style="margin-top: 8%;">

                  <div class="text-center">
                    <h4>Estadisticas</h4>
                  </div>


                  <div class="row">
                    <div class="col">
                      <h5>Goles</h5>
                      <h6>12</h6>
                    </div>

                    <div class="col">
                      <h5>Asistencias</h5>
                      <h6>12</h6>
                    </div>

                    <div class="col">
                      <h5>PJ</h5>
                      <h6>12</h6>
                    </div>

                    <div class="col">
                      <h5>Amonestaciones</h5>
                      <h6>12</h6>
                    </div>

                    <div class="col">
                      <h5>Expulsiones</h5>
                      <h6>12</h6>
                    </div>
                  </div>

                </div>

                <div style="margin-top: 8%;">

                  <h5>Tiene solicitudes pendientes</h5>
                  <button class="btn btn-info" (click)="openSolicitudes(content)">
                    Ver solicitud
                  </button>

                </div>
              </div>
            </div>

          </div>
        </div>
  </div>
</div>



<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Solicitudes</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
    <ul *ngFor="let solicitud of solicitudes">
      <li>
        {{solicitud?.message}} - {{solicitud?.isTransferenciaMessage}}
        <button (click)="aceptarSolicitud(solicitud)">
          Aceptar
        </button>
      </li>
    </ul>
	</div>
</ng-template>