/* You can add global styles to this file, and also import other style files */
body {
    display: block;
    margin: 8px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background: linear-gradient(to top, rgb(17, 24, 39), rgb(88, 28, 135), rgb(46, 10, 109))
}