<div class="container py-5">
  <h2 class="text-info mb-3">Listado Equipos</h2>
  <p class="text-light mb-4">
    Agrega, edita o elimina equipos de la lista. Cada equipo puede tener
    múltiples jugadores y estadísticas asociadas.
  </p>

  <div class="mb-2 mt-5 gap-2 d-flex" *ngIf="user?.idRol == 1">
    <button class="btn btn-primary" (click)="onCreate()">Crear equipo</button>
    <button class="btn btn-warning" (click)="openModalAssignManager()">
      Asignar Manager
    </button>
  </div>
  <div class="table-responsive table-wrapper">
    <table class="table table-hover mb-0">
      <thead>
        <tr>
          <th>Equipo</th>
          <th>Manager</th>
          <th>Activo</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of teams">
          <td class="player-name">
            <span>
              <img
                [src]="
                  item?.logo
                    ? item?.logo?.secureUrl
                    : '../../../assets/images/player-default.png'
                "
                class="mb-2"
                width="40"
                style="border-color: #303134; margin-right: 2%"
              />
            </span>
            {{ item.name }}
          </td>

          <td>
            <span class="badge bg-secondary">
              {{ item?.owner?.name }} {{ item?.owner?.lastName }}
            </span>
          </td>

          <td>
            <span class="badge bg-secondary">
              {{ item.currentTeam ? 'Si' : 'No' }}
            </span>
          </td>

          <td>
            <div
              class="d-flex align-items-center justify-content-center d-grid gap-2 column-gap-2"
            >
              <button class="btn btn-warning" (click)="onViewTeam(item.id)">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </button>

              <button class="btn btn-primary" *ngIf="user?.idRol == 1">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>

              <button
                class="btn btn-danger"
                (click)="onDelete(item.id)"
                *ngIf="user?.idRol == 1"
              >
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>