.search-bar {
  margin-bottom: 5%;
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 25%;
}

.state-confirmation {
  background-color: #e9e90d;
  border-radius: 10px;
  padding: 6px;
  color: black;
  font-size: 14px;
  margin-left: 8px;
}

.btn-position {
  margin-left: 20%;
}

.items-div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.logo {
  margin: 15px;
}

.item-logo {
  border-radius: 25px;
}

.tittle-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60%;
}

hr {
  color: silver;
  margin-bottom: 50px;
}

.title-card {
  color: white;
}

.cont-card {
  margin: 10px;
}

h4 {
  color: white;
}

h5 {
  color: white;
}

h6 {
  color: white;
}

.search-bar-style {
  display: block;
  width: 130%;
  padding: 0.375rem 0.95rem;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  background-color: transparent;
  background-clip: padding-box;
  /* border: 1px solid #4a4b4c; */
  -webkit-appearance: none;
  appearance: none;
  border-radius: -0.625rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
