h2,
p {
  text-align: center;
}
.table-wrapper {
  border: 1px solid #222;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.1);
}
.table thead {
  background-color: #1e2a38;
  color: #00ffc8;
}
.table tbody tr {
  background-color: #16212c;
  border-bottom: 1px solid #2b3b4e;
}
.table tbody tr:hover {
  background-color: #00ffc8;
}
.table td,
.table th {
  vertical-align: middle;
  text-align: center;
  padding: 0.75rem;
  font-size: 14px;
}
.rating-badge {
  background-color: #2b8a3e;
  color: #000;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}

.tag {
  font-size: 0.75rem;
  padding: 2px 6px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
}

/* .tag.toty {
  background: #005eff;
}

.tag.if {
  background: #ffc400;
  color: #000;
}

.tag.hero {
  background: #ff005c;
} */

.tag.gk {
  background: #c92a2a !important ;
}

.tag.defence {
  background: #e67700;
}

.tag.medio {
  background: #5c940d;
}

.tag.attack {
  background: #1c7ed6;
}

.player-name {
  font-weight: bold;
  color: #ffffff;
  text-align: left;
}

.table td:first-child {
  text-align: left;
  padding-left: 1rem;
}

.esports-card {
  background-color: #111;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.6);
  margin-bottom: 30px;
}

.banner {
  height: 120px;
  background: url('https://via.placeholder.com/600x200') center/cover no-repeat;
  position: relative;
}

.logo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 4px solid #111;
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
}

.card-body {
  margin-top: 50px;
  padding: 15px;
}

.username {
  font-weight: bold;
  font-size: 1.2rem;
}

.role {
  color: #aaa;
  font-size: 0.95rem;
}
