<div class="home-section">
  <div class="home-content">
    <div
      class="row align-items-center"
      style="margin-top: 10%; margin-left: 15%"
    >
      <div class="col-md-6">
        <h4>FUTBOL VIRTUAL</h4>
        <h1>BIENVENIDO,</h1>
        <h1>{{ loginService?.user?.nombre }}</h1>
      </div>

      <div class="col-md-6">
        <div class="circle-container">
          <div class="circle"></div>
          <img src="../../assets/images/50489671.webp" class="circle-image" />
        </div>
      </div>
    </div>
  </div>
</div>

<section>
  <div class="container mt-5">
    <div style="margin-bottom: 5%">
      <h2 class="text-center">TORNEOS ACTIVOS</h2>
    </div>

    <div class="row" style="margin-bottom: 20%">
      <div class="col-md-6">
        <div class="card bg-dark">
          <div class="card-header">
            <h4 class="text-center">Primera division</h4>
          </div>

          <div class="card-body">
            <ul>
              <ng-container>
                <li class="row">
                  <div class="col-md-1">
                    <img
                      src="../../assets/images/HYT-IESA.png"
                      width="50"
                      height="50"
                    />
                  </div>

                  <div class="col-md-4" style="color: white">
                    <h5>NicoPerez22</h5>
                    <p>Hacha eSports</p>
                  </div>

                  <div class="col-md-4" style="color: white">
                    <div class="row">
                      <div class="col">
                        <h5>PJ</h5>
                        <p>12</p>
                      </div>

                      <div class="col">
                        <h5>G</h5>
                        <p>12</p>
                      </div>

                      <div class="col">
                        <h5>Asis</h5>
                        <p>12</p>
                      </div>

                      <div class="col">
                        <h5>PJ</h5>
                        <p>12</p>
                      </div>
                    </div>
                  </div>
                </li>
              </ng-container>

              <ng-container>
                <li class="row mt-5">
                  <div class="col-md-1">
                    <img
                      src="../../assets/images/HYT-IESA.png"
                      width="50"
                      height="50"
                    />
                  </div>

                  <div class="col-md-4" style="color: white">
                    <h5>NicoPerez22</h5>
                    <p>Hacha eSports</p>
                  </div>
                </li>
              </ng-container>

              <ng-container>
                <li class="row mt-5">
                  <div class="col-md-1">
                    <img
                      src="../../assets/images/HYT-IESA.png"
                      width="50"
                      height="50"
                    />
                  </div>

                  <div class="col-md-4" style="color: white">
                    <h5>NicoPerez22</h5>
                    <p>Hacha eSports</p>
                  </div>
                </li>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card bg-dark">
          <div class="card-header">
            <h4 class="text-center">Primera division</h4>
          </div>

          <div class="card-body">
            <ul>
              <ng-container>
                <li class="row">
                  <div class="col-md-1">
                    <img
                      src="../../assets/images/HYT-IESA.png"
                      width="50"
                      height="50"
                    />
                  </div>

                  <div class="col-md-4" style="color: white">
                    <h5>NicoPerez22</h5>
                    <p>Hacha eSports</p>
                  </div>
                </li>
              </ng-container>

              <ng-container>
                <li class="row mt-5">
                  <div class="col-md-1">
                    <img
                      src="../../assets/images/HYT-IESA.png"
                      width="50"
                      height="50"
                    />
                  </div>

                  <div class="col-md-4" style="color: white">
                    <h5>NicoPerez22</h5>
                    <p>Hacha eSports</p>
                  </div>
                </li>
              </ng-container>

              <ng-container>
                <li class="row mt-5">
                  <div class="col-md-1">
                    <img
                      src="../../assets/images/HYT-IESA.png"
                      width="50"
                      height="50"
                    />
                  </div>

                  <div class="col-md-4" style="color: white">
                    <h5>NicoPerez22</h5>
                    <p>Hacha eSports</p>
                  </div>
                </li>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
