<section
  class="home-section min-vh-100 position-relative overflow-hidden d-flex align-items-center bg-black"
>
  <div class="container py-5 home-content">
    <div class="row g-4 align-items-center">
      <!-- Imagen arriba en mobile -->
      <div
        class="col-12 col-lg-6 order-1 order-lg-2 d-flex justify-content-center"
      >
        <div
          class="ratio ratio-1x1 rounded-circle bg-dark bg-opacity-50 shadow-lg w-50 w-md-50 w-lg-75"
        >
          <img
            src="../../assets/images/seaneternos2.png"
            alt="Jugador"
            class="w-100 h-100 rounded-circle object-fit-cover"
          />
        </div>
      </div>

      <!-- Texto debajo en mobile -->
      <div class="col-12 col-lg-6 order-2 order-lg-1 text-center text-lg-start">
        <h4 class="text-primary fw-bold mb-2">FUTBOL VIRTUAL</h4>
        <h1 class="text-white fw-bold display-5 display-lg-3 mb-0">
          BIENVENIDO,
        </h1>
        <h1 class="text-white fw-bold display-5 display-lg-3">
          {{ loginService?.user?.nombre }}
        </h1>
      </div>
    </div>
  </div>
</section>